:root {
  --primary-color: #30b57e;
  --box-shadow: rgb(0 0 2 /35%) 0px 20px 30px -10px;
  --logo-color: #09244b;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  background: linear-gradient(to bottom, #e9fff6, transparent);
}

section {
  margin: 6rem 0;
}

@media screen and (min-width: 768px) {
  section {
    margin: 2rem 0;
  }
}

.logo-image {
  width: 7rem;
}

.join-button {
  font-size: 12px;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 12px;
  background: #30b57e;
  transition: 0.3s background-color;
}

.join-button:hover {
  opacity: 80%;
}
