.site {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside {
  position: relative;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 0.6rem;
}

.aside .title {
  font-size: 32px;
  font-weight: 700;
  color: var(--logo-color);
  line-height: 1.3;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.aside .description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 5px;
  opacity: 50% !important;
  width: 30rem;
  text-align: start;
  word-wrap: break-word;
  white-space: normal;
}

.aside .name button {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  border: 1px solid var(--primary-color);
  padding: 8px 8px 8px 20px;
  gap: 8px;
  border-radius: 8px;
  transition: 0.3s background-color;
}

.aside .name span {
  font-size: 12px;
  font-weight: 600;
}

.aside .name button > img {
  filter: grayscale(100%) sepia(100%) saturate(500%) hue-rotate(0deg);
}

.aside .name button:hover {
  background: var(--primary-color);
  color: white;
  transition: background-color 0.3s;
}

.aside .name button:hover .paper-airplane {
  fill: white;
}

.paper-airplane {
  width: 12px;
  height: 12px;
  fill: var(--primary-color);
}
.aside .name {
  position: relative;
  width: fit-content;
  line-height: 1;
  transition: transform 1s 0.2s, opacity 1s 0.3s;
}

.aside .name h4 {
  font-size: 22px;
  font-weight: 800;
  color: var(--primary-color);
  opacity: 0.8;
}

.aside .name p {
  font-size: 12px;
  text-align: right;
}

.testi .head {
  font-size: 34px;
  font-weight: 800;
}

.testi .head h3 {
  text-align: center;
  margin-bottom: 60px;
}

.testi .wrapper {
  display: inline-block;
  gap: 60px;
  padding: 30px 0;
}

.testi .thumbnail {
  width: 150px;
  height: 150px;
  position: relative;
  flex-shrink: 0;
}

.testi .thumbnail img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(1.5);
  transition: transform 0.5s;
}

.testi .swiper-slide-active .thumbnail img {
  transform: scale(1);
}

.testi .thumbnail::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 30px);
  height: calc(100% + 10px);
  background-color: var(--primary-color);
  border-radius: 50%;
  z-index: -1;
  box-shadow: var(--box-shadow);
  transition: border-radius 0.5s 0.3s;
}

.testi .swiper-slide-active .thumbnail::before {
  border-radius: 33% 67% 50% 50% / 50% 14% 86% 50%;
}

.testi :is(.swiper-button-next, .swiper-button-prev) {
  background-color: teal;
  top: 35%;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  transition: background-color 0.3s;
  box-shadow: var(--box-shadow);
}

:is(.swiper-button-next, .swiper-button-prev)::after {
  font-size: 16px;
  font-weight: 800;
  color: white;
}

.swiper-pagination span {
  background-color: var(--primary-color);
  transition: width 0.3s;
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 42px;
  border-radius: 4px;
  height: 6px;
  background-color: var(--primary-color);
  background: rgb(48, 181, 126, 40%);
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

.swiper-pagination {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  z-index: 1;
}

.testi {
  width: 24rem;
  height: 24rem;
  margin: 0 auto;
  text-align: center;
}

.testi .thumbnail {
  width: 16rem;
  height: 16rem;
}

@media screen and (min-width: 1072px) {
  .testi {
    width: 36rem;
    margin: 0;
  }

  .swiper-pagination {
    display: flex;
    justify-content: start;
    /* align-self: flex-end; */
    margin-top: 6rem;
    padding-right: 1rem;
  }

  .testi .thumbnail {
    width: 24rem;
    height: 24rem;
  }

  .testi .swiper-slide-active .name {
    transform: translateX(-50px);
  }
}
