.site {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 1100px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.testi {
  margin: 0 auto;
}

.testi .head {
  font-size: 34px;
  font-weight: 800;
}

.testi .head h3 {
  text-align: center;
  margin-bottom: 60px;
}

.testi .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 30px 0;
  justify-content: space-between;
}

.testi .thumbnail {
  width: 150px;
  height: 150px;
  position: relative;
  flex-shrink: 0;
}

.testi .thumbnail img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(2);
  transition: transform 0.5s;
}

.testi .swiper-slide-active .thumbnail img {
  transform: scale(1);
}

.testi .thumbnail::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 30px);
  height: calc(100% + 10px);
  background-color: var(--primary-color);
  border-radius: 50%;
  z-index: -1;
  box-shadow: var(--box-shadow);
  transition: border-radius 0.5s 0.3s;
}

.testi .swiper-slide-active .thumbnail::before {
  border-radius: 33% 67% 50% 50% / 50% 14% 86% 50%;
}

.testi .aside {
  position: relative;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.testi .aside .title {
  font-size: 62px;
  font-weight: 700;
  color: var(--logo-color);
  line-height: 1.3;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.testi .aside .description {
  font-size: 38px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 5px;
  text-align: start;
  opacity: 50% !important;
}

.testi .aside > p {
  position: relative;
  font-size: 14px;
  line-height: normal;
  margin-bottom: 30px;
  opacity: 0;
  transform: translateX(10%);
  transition: transform 1s, opacity 1s;
}

.testi .swiper-slide-active .aside > p {
  transform: translateX(0);
  opacity: 1;
}

.testi .aside > p::before,
.testi .aside > p::after {
  font-family: serif;
  font-size: 80px;
  font-weight: 800;
  line-height: 1;
  position: absolute;
  color: teal;
  height: 40px;
  z-index: -1;
}

.testi .aside .name button {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  border: 1px solid var(--primary-color);
  padding: 20px 20px 20px 90px;
  gap: 8px;
  border-radius: 8px;
  transition: 0.3s background-color;
}

.testi .aside .name span {
  font-size: 32px;
  font-weight: 600;
}

.testi .aside .name button > img {
  filter: grayscale(100%) sepia(100%) saturate(500%) hue-rotate(0deg);
}

.testi .aside .name button:hover {
  background: var(--primary-color);
  color: white;
  transition: background-color 0.3s;
}

.testi .aside .name button:hover .paper-airplane {
  fill: white;
}

.paper-airplane {
  width: 20px;
  height: 20px;
  fill: var(--primary-color);
}
.testi .aside .name {
  position: relative;
  width: fit-content;
  line-height: 1;
  opacity: 0;
  transform: translateX(30px);
  transition: transform 1s 0.2s, opacity 1s 0.3s;
}

.testi .swiper-slide-active .aside .name {
  transform: translateX(0);
  opacity: 1;
}

.testi .aside .name h4 {
  font-size: 22px;
  font-weight: 800;
  color: var(--primary-color);
  opacity: 0.8;
}

.testi .aside .name p {
  font-size: 12px;
  text-align: right;
}

.testi :is(.swiper-button-next, .swiper-button-prev) {
  background-color: teal;
  top: 35%;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  transition: background-color 0.3s;
  box-shadow: var(--box-shadow);
}

.testi :is(.swiper-button-next, .swiper-button-prev)::after {
  font-size: 16px;
  font-weight: 800;
  color: white;
}

.testi .swiper-pagination span {
  background-color: teal;
  transition: width 0.3s;
  opacity: 1;
}

.testi .swiper-pagination .swiper-pagination-bullet {
  width: 48px;
  border-radius: 4px;
  height: 6px;
  background-color: var(--primary-color);
  background: rgb(48, 181, 126, 40%);
}

.testi .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

.testi .swiper-pagination {
  position: relative;
  display: flex;
  align-self: flex-end;
  margin-top: 2rem;
  padding: 30px 150px;
}

@media screen and (min-width: 768px) {
  .testi .wrapper {
    flex-direction: row;
    padding: 30px 150px;
  }

  .testi .thumbnail {
    /* width: 200px;
    height: 200px; */
    width: 22rem;
    height: 22rem;
  }

  .testi .swiper-slide-active .name {
    transform: translateX(-50px);
  }
}
